body {
    background-color: skyblue;
}

h2 {
    font-size: 30px;
}
.jumbotron {
    font-size: 50px;
    font-style: italic;
}

.column {
    animation: animationWELCOMETOPIZZASHOP 2s infinite;
}
@keyframes animationWELCOMETOPIZZASHOP {
    0%{color: red;}
    25%{color: greenyellow;}
    50%{color: #fff;}
    100%{color: greenyellow;}
}
.jumbotron {
    background-color: black;
}
.about {
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#pizza .col-md-4 img:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shake {
0% { transform: translate(1px, 1px) rotate(0deg); }
10% { transform: translate(-1px, -2px) rotate(-1deg); }
20% { transform: translate(-3px, 0px) rotate(1deg); }
30% { transform: translate(3px, 2px) rotate(0deg); }
40% { transform: translate(1px, -1px) rotate(1deg); }
50% { transform: translate(-1px, 2px) rotate(-1deg); }
60% { transform: translate(-3px, 1px) rotate(0deg); }
70% { transform: translate(3px, 1px) rotate(-1deg); }
80% { transform: translate(-1px, -1px) rotate(1deg); }
90% { transform: translate(1px, 2px) rotate(0deg); }
100% { transform: translate(1px, -2px) rotate(-1deg); }
}
