<!-- <!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> Welcome to the Pizza-shop</title>
        {% endif %}
    </head>
    <body>
           <h1>Pizza cart</h1>
     <header>
        <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="#">About</a></li>
            <li class="fa fa-cart-plus"></li>
              <a href="cart.html"><i class="fa fa-cart-plus" aria-hidden="true" style="font-size:48px;color:rgb(209, 203, 203)" ></i></a>
       </ul>




        </nav>
     </header>






    </body>
</html> -->