{% extends 'base.html'%}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> Welcome to the Pizza-shop</title>
        {% endif %}

            <!-- Styles block -->
        {% block styles%}
             {{ super() }}
        <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        {% endblock %}
    </head>
    <body>
        {% block content %}
        <div class="jumbotron">
    <div class="welcome">
     <h1  style="text-align: center; font-style: italic;"><span class="column">WELCOME TO PIZZA SHOP</span></h1>
    </div>
</div>

    <div class="container">


    <div class="about">
         <h1 style="font-size: 50px; text-align: center; font-style: italic; color: indigo">ABOUT US</h1>
        <h3 style="text-align: center;"> "One bite of our delicious pizza will definately bring you back for more<br>It can remove your stress
        of the day" </h3>
        <p style="text-align: center; font-size: 30px;  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">The Pizza shop was build by some few stake-holders in 2020.We are based in
         Greenspan mall in Ngong Road
        3rd floor.We decided set up Pizza-Inn due to availability of market and plus the neighborhood is friendly.
        In Pizza shop we offer quality service that cannot disappoint you in any kind of way,we can guarantee you that.
        Our main idea of this restaurant is to provide you with any type of pizza of your choice.
        </p>
        </div>
    



        <i class="fa fa-cart-plus" aria-hidden="true" style="font-size:48px;color:rgb(209, 203, 203)" ></i>
        <br>
        
        <p>Click to add pizza on your cart:</p>
        <button style="font-size:24px">Button <i class="fa fa-cart-plus"></i></button>

        <div id="pizza">
        <div class="row">
            <div class="col-md-4">
            <img src="../static/images/Beef-Doner-1-e1c2.jpg" alt="" width="75%">
            <hr>
            <h2>
            Kebab pizza
            </h2>
            <hr>
            </div>
            <div class="col-md-4">
            <img src="../static/images/download (1).jpeg" alt="" width="75%">
            <hr>
            <h2>
            Cheese pizza
            </h2>
            <hr>
        </div>
         <div class="col-md-4">
            <img src="../static/images/download.jpeg" alt="" width="75%">
            <hr>
            <h2>
            Neapotilian pizza
           </h2>
            <hr>
        </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <img src="../static/images/download (3).jpeg" alt="" width="75%">
            <hr>
            <h2>
            Chicago pizza
           </h2>
            <hr>
            </div>
            <div class="col-md-4">
                <img src="../static/images/download (2).jpeg" alt="" width="75%" >
                <hr>
                <h2>
                Pizza bagels
               </h2>
                <hr>
            </div>
            <div class="col-md-4">
                <img src="../static/images/download (4).jpeg" alt="" width="75%">
                <hr>
                <h2>
                Pepperoni pizza
                </h2>
                <hr>
            </div>


        </div> 
    </div>
            {% endblock%}
        </div>
    </body>
</html>